/.vscode/
/war/.vscode/
/war/game.cpp
/war/game.hpp
/war/player.cpp
/war/player.hpp
/war/test.cpp
JokerWarUnion/.backupfile
JokerWarUnion/.vscode/
bitWar/.backupfile
bitWar/build
bitWarbackup/
JokerWarUnion/build/
game-snake/build/
